/* kleines i-Icon unten rechts */
.leaflet-info-icon {
  position: absolute;
  bottom: 2px;
  right: 66px;
  background: rgba(0,0,0,0.5);
  color: rgb(162, 162, 162);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  z-index: 1000;
}

.leaflet-attribution-modal,
.leaflet-attribution-modal p,
.leaflet-attribution-modal span {
  font-size: 10px !important;
  color: white !important;
}

/* Attribution Modal / Tooltip */
.leaflet-attribution-modal {
  position: absolute;
  bottom: 20px;
  right: 3px;
  background: rgba(0,0,0,0.85);
  color: white;
  padding: 6px 8px;
  border-radius: 8px;
  max-width: 90%;
  z-index: 1000;
}

.leaflet-attribution-modal a {
  color: #a6c8ff;
  text-decoration: underline;
}


